<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>UniGang</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  </head>
  
  <body>
    <br>
    <div class="main-container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <%= image_tag("gang.jpg",size: "286x255", :alt => "rss feed",:class => "PP") %>
                <div class="card-body">
                    <h5 class="card-title">Licorne</h5>
                    <p class="card-subtitle mb-2 text-muted">Strass, Paillette & Damso</i></p>
                    <button type="button" class="btn btn-primary">Lire</button>
                    <p class="mrg card-text">Quand il chie, il y a des skittles.</p>
                </div>
            </div>
        </div>
<center><div class="container titre">
  <h1>Rejoins notre LicorneGang !</h1>
</div>
</center>
<center><div class="container bloc">
  <div class="row justify-content-md-center">
<img src="https://www.stickergizmo.com/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/1/6/165538-00.png" class="rounded-circle img-raised" style="width:100px; height:100px;">
    <div class="col">
      <h2>Viens, sérieux ! C'est carré la squale.</h2>
      <br>
      <p>Rejoins notre Gang ou on viendra chez toi, et on chantera Oh ma Lunaaa, c'est toi qu'je veux !! Wingardium Leviosa, avec ce sort je soulève des gangs !</p>
      <br>
      <button type="button" class="btn btn-primary">Rejoindre le Gang</button>
    </center>
    </div>
  </div>
</div>
</div>


  </body>
</html>